.alert {
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
}

.alert-success {
	background: #27ae60;
}

.alert-error {
	background: #c0392b;
}

.alert-info {
	background: #996;
	border: 1px solid #ff9;
}

.alert-warning {
	background: #d45400;
}


/**
 * Breadcrumbs
 */

.breadcrumbs {
	margin-bottom: 20px;
}

.breadcrumbs ul {
	list-style: none;
	display: block;
	width: 100%;
	height: 20px;
	display: block;
}

.breadcrumbs li {
	float: left;
}

.breadcrumbs li::after {
	content: '\00BB';
	padding: 0 7px;
}

.breadcrumbs li:last-child::after {
	content: '';
}

.breadcrumbs a {
	color: #aaa;
}


/**
 * Buttons
 */

.btn {
	font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 15px;
	color: #fff;
	text-decoration: none;

	-webkit-border-radius: 5px
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-blue {
	background-color: #5B74A8;
	border: 1px solid #29447E;

	-webkit-box-shadow: rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow: rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow: rgba(0,0,0,0.0.1) 0 1px 0 0;
}

.btn-block {
	float: left;
	display: block;
	clear: both;
	margin-bottom: 20px;
}





.loot {
	margin-bottom: 10px;
	display: block;
	float: left;
	clear: both;
}

.loot:last-child {
	margin-bottom: 0;
}