@import url('vendor/normalize.css');
@import url('fonts.css');
@import url('base.css');
@import url('globals.css');
@import url('layout.css');
@import url('components.css');




/**
 * Class colors
 */

.deathknight,
.deathknight a {
	color: #c41f3b;
	text-decoration: none;
}

.druid,
.druid a {
	color: #ff7d0a;
	text-decoration: none;
}

.hunter,
.hunter a {
	color: #abd473;
	text-decoration: none;
}

.mage,
.mage a {
	color: #69ccf0;
	text-decoration: none;
}

.monk,
.monk a {
	color: #00ff96;
	text-decoration: none;
}

.paladin,
.paladin a {
	color: #f58cba;
	text-decoration: none;
}

.priest,
.priest a {
	color: #fff;
	text-decoration: none;
}

.rogue,
.rogue a {
	color: #fff569;
	text-decoration: none;
}

.shaman,
.shaman a {
	color: #0070de;
	text-decoration: none;
}

.warlock,
.warlock a {
	color: #9482c9;
	text-decoration: none;
}

.warrior,
.warrior a {
	color: #c79c6e;
	text-decoration: none;
}

.rare,
.normal {
	color: #0070ff;
}

.epic,
.heroic {
	color: #a335ee;
}

.legendary,
.mythic {
	color: #ff8000;
}